.header{
  text-align: center;
}
.container{
  background-color: white;
  margin: auto;
  height:400px;
  width:300px;
  padding:50px;
}
.box{
  background-image: url("images/clockimage.png");
  height:300px;
  width:300px;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}

/* Hour */
.imgbox1{
  height:15%;
  width:15%;
  position: static;
  top:40%;
  left:40%;
  animation-name: minute;
  animation-duration: 20s;
  transform-origin: center right ;
  animation-fill-mode: forwards;
  }

  .imgbox2{
  height:15%;
  width:25%;
  position: absolute;
  top:40%;
  left:40%;
  animation-name: Hour;
  animation-duration: 20s;
  transform-origin: center left ;
  animation-fill-mode: forwards;
}

@keyframes minute{
  0%{top:20%;left:42.5%;}
  100%{transform: rotate(360deg);}

@keyframes hour{
  0%{top:22%;left:50%;}
  100%{top:42%;left:50%; transform:rotate(30deg); }
}
